:root {
    --box-shadow: 0px 5px 30px #3b3b3bff;
    --border-color: #90b1a3ff;
    --border-style: solid;
    --font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    --text-shadow: 3px 3px 5px black;
    --text-shadow-2: 1px 1px 2px black;
}

/* The smooth attribute for scroll behavior makes it so that the page  scrolls slower to the linked section rather than a jump to linked sections */
html {
    scroll-behavior: smooth;
}
 /* I chose to have a background image but added a background-color in case the webage is opened in a browser that does not support background images */
body {
    background-image: url(../images/cactusbackground.png);
    background-color: #cf9385ff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
 /* This is the header of the webpage, I used display: flex to position it in the top left corner. I used border-radius to give it a rounded shape. */
.webpage-title {
    display:flex;
    align-items: center;
    text-align:center;
    position: absolute;
    font-family: 'La Belle Aurore', 'cursive', 'Gill Sans', 'sans-serif';
    color: white;
    font-size: 40px;
    text-shadow: var(--text-shadow);
    background-image: linear-gradient(#cf9385ff,#ffc0c0ff);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: var(--box-shadow);
    margin: -60px 20px 20px 40px;
}
 /* For the navigation bar I used display: flex to position it and allow it to grow or shrink. */
.nav-list {
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(#90b1a3ff, #50645cff);
    box-shadow: var(--box-shadow);
    padding: 8px 0px;
    margin: 70px 0px 120px 0px;
    border-radius: 10px;
}
 /* I used list-style-type: none to remove the bullet points from the unordered list. */
.nav-item {
    list-style-type: none;
    margin-right: 2rem;
}
 /* I used text-decoration: none to remove the line under my "About", "Work", "Contact" in page links.  */
.nav-item a {
    text-decoration: none;
    text-shadow: var(--text-shadow);
    color: white;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 /* Hover gives the "About", "Work", "Contact" links a color when the user hovers on these sections.  */
.nav-item a:hover {
    color: #cf9385;
}
 /* Main is the container for the sidebar and the middle sections that hold paragraphs and images */
main {
    display: flex;
    height: 750px;
}
 /* Section-1 holds the about section paragraph and profile image. */
.section-1 {
    height: 700px;
}
 /* I used aside to position the "About", "Work", "Contact" sections. */
aside {
    flex: 1;
    flex-wrap:wrap;
    max-width: 300px;
}
 /* This section styles the sidebar items. It gives each section a container with a background gradient, rounded edges, and a shadow effect. */
.sidebar-items {
    width: 100px;
    padding: 10px;
    margin: 20px 20px 225px 20px;
    background-image: linear-gradient(#90b1a3ff, #50645cff);
    box-shadow: 5px 1px 10px 2px #737373;
    border-radius: 10px;
    font-family: 'Gill Sans';
    text-shadow: var(--text-shadow);
    color: white;
    text-align: center;
}
/* This section styles the about section paragraph. It styles the border style, color, and thickness. It also gives it rounded edges and styles the text. */
.p1 {
    box-shadow: var(--box-shadow);
    width: 600px;
    height: 175px;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    border-style: var(--border-style);
    border-color:var(--border-color);
    border-width: 4px;
    font-family: var(--font-family);
    color:#42584fff;
    padding: 20px;
    font-size: 18px;
}
/* This section styles the picture located in the paragraph container. It gives it rounded edges, positions it right of the text, and gives it a shadow effect. */
.profilepic {
    float: right;
    border: 1px;
    margin: 0px 0px 15px 10px;
    height: 170px;
    width: 140px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
/* This gives the work container the property flex, allowing the items to be responsive with window shrinking. */
.work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
/* This styles the first project, Horiseon Code Refactor, container. */
.container1 {
    position: relative;
    width: 300px;
    margin:20px 20px 5px 20px;
    border-style: var(--border-style);
    border-color:var(--border-color);
    border-width: 4px;
    box-shadow: var(--box-shadow);
}
/* This styles the other two projects. Changing the position, border, and shadow effect. */
.container {
    position: relative;
    width: 200px;
    height: 100px;
    margin:20px 20px 5px 20px;
    border-style: var(--border-style);
    border-color:var(--border-color);
    border-width: 4px;
    box-shadow: var(--box-shadow);
}
/* This styles the images in each project container. */
.project {
    display:block;
    width: 100%;
    height: 100%
}
  /* This styles the image overlay. It gives it a background color and makes it transparent with opacity, 0. */
.imageoverlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.imageoverlay > * {
    transform: translateY(20px);
}
/* This gives each image overlay a hover effect. */
.imageoverlay:hover {
    opacity: 1;
}
.imageoverlay:hover > * {
    transform: translateY(20px);
}
.text {
    font-size: 16px;
    Font-weight: bold;
}
/* This styles the container and text in the contact section */
.container-4{
    text-align: center;
    font-size: 25px;
    height: 55px;
    width: 400px;
    padding: 10px;
    margin-top: 50px;
    margin-left:20px;
    border-style: var(--border-style);
    border-color:var(--border-color);
    border-width: 4px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    color: #42584fff;
    font-family: var(--font-family);
    text-shadow: var(--text-shadow-2);
}
/* This styles the social media icons */
.fa-brands {
    color: #42584fff;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    text-shadow: var(--text-shadow-2);
}
/* This sgives the social media icons a hover effect */
.fa-brands:hover {
    color: #ac5f72ff;
    text-shadow: var(--text-shadow-2);
}
/* When visited the social media icons will change to a tan/pink color */
.fa-brands:visited {
    color:  #cf9385ff;
    background-color: transparent;
    text-decoration: none;
    text-shadow: var(--text-shadow-2);
}
/* When active the social media icons will stay dark green */
.fa-brands:active {
    color: #42584fff;
    background-color: transparent;
    text-decoration: underline;
    text-shadow: var(--text-shadow-2);
}
.fa-solid {
    color:#42584fff;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: var(--text-shadow-2);
}
.fa-solid:hover {
    color: #ac5f72ff;
    text-shadow: var(--text-shadow-2);
}
.fa-solid:active {
    color: #42584fff;
    background-color: transparent;
    text-decoration: underline;
    text-shadow: var(--text-shadow-2);
}
/* This styles the footer and text, "Thanks for Visiting!" */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#90b1a3ff, #50645cff);
    box-shadow: var(--box-shadow);
    padding: 8px 0px;
    margin: 10px 0px 50px 0px;
    border-radius: 10px;
    font-family: var(--font-family);
    color: white;
    text-shadow: var(--text-shadow);
}